.believe__continer h1{
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-2);
    color: var(--h1);
    margin-bottom: 90px;
    margin-top: 120px;
}
.believe__big-card{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 71px;
    justify-content: space-around;
    margin: 0 128px 0 46px;
}
.believe__cards{
    display: flex;
    max-width: 184px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
   
}
.believe__cards-min{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.believe__card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.yon__chiziq{
    height: 183px;
    width: 1px;
    background-color: rgba(215, 215, 221, 1);
}
.believe__card h1{
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-2);
    color: var(--h1);
    text-align: center;
    margin-bottom: 14px;
}
.believe__card p{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-1);
    color: var(--paragrf);
}
@media screen and (max-width:768px) {
    .believe__cards{
        display: flex;
        flex-direction: column;
        gap: 65px;
    }
    .yon_chiziq-2{
        display: none;
    }
    .believe__card{
        padding: 0 auto;
        display: flex;
        max-width: 188px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .believe__big-card{
        justify-content: center;
        align-items: center;
        
    }
}
@media screen and (max-width:560px) {
    .believe__continer{
        max-width: 400px;
    }
    .believe__cards-2{
        display: none;
    }
    .believe__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .believe__cards-min{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 300px;
    }
    .believe__cards{
        align-items: center;
        justify-content: center;
        align-items: center;
       
    }
    
    .believe__continer h1{
        font-size: 28px;
        margin-bottom: 56px;
        margin-top: 64px;
    }
    .believe__card h1{
        margin-top: 24px;
        margin-bottom: 12px;
       

    }
    .believe__big-card{
        display: flex;
        justify-content: space-between;
    }
}
