.benefit__container {
    padding: 178px 0 166.5px 90px;
    background-image: url(../images/fon-2.png), url(../images/fon-1.png);
    background-repeat: no-repeat;
    background-position: 43%,  50%;
    margin-bottom: 73px;
    
  }
.benefit__container h1{
     color: white;
     width: 362px;
     margin-left: 36%;
}

@media screen and(max-width:900px) {
  .benefit__container{
    background-position: 38%,50%;
  }
  .benefit__container h1{
    margin-right: 30%;
  }
}


  @media (max-width: 768px) {
    .benefit__container {
      padding: 112px 0 106px 85px;
      background-image: url(../images/fon-3.png), url(../images/fon-4.png);
      
    }
    h1{
        width: 288px;
    }
  }
  @media (max-width: 576px) {
    .benefit__container {
      padding: 0 0 48px;
      background-image: none;
      margin-bottom: 40px;
      
    }
    h1{
        width: 100%;
        color: black;
    }
  }
  .benefit-icon-2{
    display:none;
  }
  .benefit-icon-1{
    display:block;
  }

.benefit__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 120px;
  
    padding: 0 66px;
    margin-bottom: 120px;
    
  }
.benefit__item {
    max-width: 407px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    
  }
.benefit__icon {
    width: 80px;
    height: 80px;
  }
.benefit__text {
    width: 291px;
  }
@media (max-width: 992px) {
    .benefit__bottom {
      grid-template-columns: 1fr;
      gap: 49px;
      padding: 0;
      margin-bottom: 100px;
      
    }
.benefit__item {
        max-width: 537.52px;
        margin: 0 auto;
        gap: 40px;
       
    }
  }
  .benefit__icon {
    width: 89.25px;
  }
  .benefit__text {
    max-width: 399.59px;
    width: 100%;
  }
  @media (max-width: 576px) {
    .benefit__bottom {
      margin-bottom: 72px;
    }
    .benefit__item {
        margin-bottom: 38px;
        align-items: flex-start;
       
    }
    .benefit__icon {
        width: 52px;
    }
    .benefit-icon-2{
      display:block;
    }
    .benefit-icon-1{
      display: none;
    }
  }
  