.etapi__continer h1{
    font-size: 48px;
    font-weight: 600px;
    color: rgba(54, 55, 56, 1);
    font-family: var(--font-2);
    margin-top: 120px;
    margin-bottom: 24px;
}
.etapi__card{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 32px 132px 32px 96px;
    gap: 56px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    margin-left: 5%;
}
.etapi__card a{
    font-size: 20px;
    font-weight: 600;
    color: rgba(54, 55, 56, 1);
    font-family: var(--font-2);
    margin-bottom: 24px;
    text-decoration: none;
}
.etapi__card p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-1);
    max-width: 568px;
    color: var(--paragrf);
    margin-top: 24px;
}