.footer__tiny{
    padding:59px 234px 29px 95px ;
    display: flex;
    justify-content: space-between;
    
}
.footer__logo-2{
    display: none;
}
.footer__logo-3{
    display: none;
}
.footer__logo-1{
    display: block;
}
.footer{
    margin: 0 auto;
    max-width: 1440px;
    background-color: rgba(11, 117, 114, 1);
}
.footer__tiny ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}
.footer__tiny ul a{
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0px;
    font-family:"Exo 2";
    color: rgba(255, 255, 255, 1);
    font-weight: 500; 
}
.footer__ijtimoiy{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer__ijtimoiy a{
    text-decoration: none;
    font-size: 13px ;
    font-weight: 600;
    font-family: var(--font-1);
    color: rgba(255, 255, 255, 1);
}
.footer__ijtimoiy button{
    display: flex;
    gap: 14px;
    padding: 7px 11.3px 8px 11px;
    background-color: rgba(255, 150, 25, 1);
    border: none;
}
.footer__ijtimoiy button p{
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans";
}
.footer__list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.end{
    margin: 50px auto;
    max-width: 374px;
    padding-bottom: 29px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    font-family: var(--font-1);
}

@media screen and (max-width:1069px) {
    .footer__tiny{
        padding:59px 150px 29px 70px ;
    }
}
@media screen and (max-width:890px) {
    .footer__tiny{
        padding:59px 100px 29px 50px ;
    }
}
@media screen and (max-width:830px) {
    .footer__tiny{
        padding:59px 80px 29px 35px ;
    }
}
@media screen and (max-width:780px) {
    .footer__tiny ul a{
        font-size: 8px;
        font-weight: 500; 
    }
    .footer__tiny{
        padding: 30px 123px 0 35px;
    }
    .footer__ijtimoiy button p{
        font-size: 6px;
    }
    .footer__logo-1{
        display: none;
    }
    .footer__logo-2{
        display: block;
    }
    .footer__logo-3{
        display: none;
    }
    .footer__tiny ul{
        gap: 13px;
    }
    .end{
        font-size: 10px;
    }
}
@media screen and (max-width:550px) {
    .footer__tiny{
        padding:59px 100px 0px 70px;
        flex-direction: column;
    }
    .footer__list{
        display: flex;
        gap: 30px;
        flex-direction: row;
    }
    .footer__ijtimoiy div{
        margin-bottom: 60px;
    }
    .footer__ijtimoiy button{
        padding: 8px 14px 8px 60px;
    }
    .button__p{
        font-size: 28px;

    }
    .end{
        margin-top: 16px;
    }
}
@media screen and(max-width:500px){
    .footer{
        display: flex;
        flex-direction: column;
        background-color: black;
    }
}