.work__continer h1{
    font-size: 48px;
    font-weight: 600;
    color: rgba(54, 55, 56, 1);
    font-family: var(--font-1);
    margin-top: 120px;
    margin-bottom: 32px;
}
.work__continer p{
    max-width: 667px;
    font-size: 16px;
    font-weight: 400;
    color: var(--paragrf);
    font-family: var(--font-1);
    margin-bottom: 56px;
}
.work__continer .link__osti{
    width: 99px;
}
.work__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work__card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}
.work__card span{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-2);
    color: rgba(54, 55, 56, 1);
    margin-left: 32px;
    margin-top: 24px;
    display: block;
}
.work__card p{
    font-size: 16px;
    font-weight: 400px;
    font-family: var(--font-1);
    color: var(--paragrf);
    margin-left: 32px;
    margin-top: 24px;
    max-width: 291px;
    margin-bottom: 32px;
}
.work__link{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    padding-bottom: 32px;
}
.kontiner-2{
    display: none;
}
.kontiner-3{
    display: none;
}
.work__link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(54, 55, 56, 1);
}


@media screen and (max-width:768px) {
    .work__cards{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .work__continer h1{
        margin-left: 19px;
    }
    .work__continer p{
        margin-left: 19px;
    }
    .work__card{
        max-width: 690px;
    }
    .kontiner-1{
        display: none;
    }
    .kontiner-2{
        display: block;
    }
    .work__card-3{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .work__continer h1{
        font-size: 28px;
    }
    .work__continer p{
        font-size: 15px;
    
    }
    .work__card-2{
        display: none;
    }
    .kontiner-1{
        display: none;
    }
    .kontiner-2{
        display: none;
    }
    .kontiner-3{
        display: block;
    }
    .work__card{
        max-width: 345px;
    }
}